<div class="card">
    <header class="card-header">
      <p class="card-header-title">
        13/09/2021
      </p>
      <button class="card-header-icon" aria-label="more options">
      </button>
    </header>
    <div class="card-content">
      <div class="content">
        <table class="table">
            <tbody>
                <tr>
                  <th>1</th>
                 
                  <td>Petrol</td>
                  <td>Transportation
                    <span class="is-size-7 has-text-grey-light">DBS</span>
                  </td>
                  <td>220</td>
                  
                </tr>
                <tr>
                  <th>2</th>
                  
                  <td>groww</td>
                  <td>self-development
                    <span class="is-size-7 has-text-grey-light">HDFC</span>
                  </td>
                   
                  <td>5000</td>
                 
                </tr>
                <tr>
                  <th>5</th>
                 
                 
                  <td>Lightbill</td>
                  <td>Household
                      <span class="is-size-7 has-text-grey-light">HDFC</span>
                  </td>
                
                  <td>120</td>
                 
                </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
        <!--        -->
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              13/09/2021
            </p>
            <button class="card-header-icon" aria-label="more options">
            </button>
          </header>
          <div class="card-content">
            <div class="content">
              <table class="table">
                  <tbody>
                      <tr>
                        <th>1</th>
                       
                        <td>Petrol</td>
                        <td>Transportation
                          <span class="is-size-7 has-text-grey-light">DBS</span>
                        </td>
                        <td>220</td>
                        
                      </tr>
                      <tr>
                        <th>2</th>
                        
                        <td>groww</td>
                        <td>self-development
                          <span class="is-size-7 has-text-grey-light">HDFC</span>
                        </td>
                         
                        <td>5000</td>
                       
                      </tr>
                      <tr>
                        <th>5</th>
                       
                       
                        <td>Lightbill</td>
                        <td>Household
                            <span class="is-size-7 has-text-grey-light">HDFC</span>
                        </td>
                      
                        <td>120</td>
                       
                      </tr>
                  </tbody>
              </table>

            </div>
          </div>
        </div>
