
<div class="container">
    <div class="row">
      <div class="columns is-variable is-1-mobile is-0-tablet is-1-desktop is-8-widescreen is-2-fullhd">
        <div class="column is-3">
          <div class="card">
            <div class="card-content">
              <div class="content">
               Deposit : 3000
              </div>
            </div>
          </div>
        </div>
  
        <div class="column is-3">
          <div class="card">
            <div class="card-content">
              <div class="content">
                Withdraw : 2100
              </div>
            </div>
          </div>
        </div>
  
        <div class="column is-3">
          <div class="card">
            <div class="card-content">
              <div class="content">
                Balance : 23000
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>